// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer


// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

.bespoke-slide
	background : transparent
.avatar 
	width : 100px
	height : @width
	border-radius : 100%;
	padding : 0.2em 0

.king 
	width : 150px
.p 
	color : red
	font-family : brodway
.kn 
	width : 200px
.layar 
	background : cyan;
	text-align : justify;
	font-size : 13px;

.jdl 
	color : navy
	font-family : Tahoma, Geneva, sans-serif
	font-size : 30px
	text-shadow: 2px 2px 4px white
	margin-top : 100px
	margin-bottom : 30px


.h1
	font-size :40px;
	marin :60px
	widht : 100px
.judul
	font-size : 40px
	font-variant : small-caps
.text
	text-align : left
	text-indent : 50px

.red 
	color : #fe9797

.yellow
	color : #f7fb5e

.star
	color : white

.we
	font-size :20px;
	text-align : center



.tim
	color : gold
	text-shadow : -1px -2px 5px red
	font-family : brodway
	font-size : 18pt


.tm
	color : red
	text-shadow : -2px -3px 7px blue
	font-family : brodway
	font-size : 35pt
	text-align : right;


.tm1
	color : red
	text-shadow : -1px -2px 5px blue
	font-family : monotype corsiva
	font-size : 20pt
	margin-top :30px