doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title SMART CAR

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css', href='build/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='build/etalage.css')
    link(rel='stylesheet', type='text/css', href='build/animate.css')
  body
  .container
    .row
      .navbar.navbar-inverse.navbar-fixed-top
        .container-fluid
          .navbar-header
            span.glyphicon.glyphicon-star.star 
            span.glyphicon.glyphicon-star.star
            span.glyphicon.glyphicon-star.star 

          .navbar-collapse.collapse
            ul.navbar-right.nav.navbar-nav
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown', href='#')
                  span.glyphicon.glyphicon-check.glyphiconY
                  |  File Presentasi
                ul.dropdown-menu(role='menu')
                  li
                    a(href='#3') Sejarah Smart Car 
                  li
                    a(href='#4') Cara Kerja Smart Car
                  li
                    a(href='#6') Jenis-Jenis Smart Car
                  li
                    a(href='#8') Keuntungan Dan Kerugian Smart Car


    article
      section.layar
        h2.tm SMART CAR 
        h2.tm1 (SELF DRIVING CAR)  
        h2.tm Nama Kelompok
        h2.tim Agus Setiawan (151113373)
        h2.tim Bintang Antonius Sinurat (151113730)
        h2.tim Putra Irwanto Saragih (151112017)
        h2.tim Yessy Kaspia (151113624)
        img.avatar(src='images/B.jpg')
          
      .lg-3#3
      section.layar
        .h1 Sejarah Smart Car
        img.king(src='images/B.jpg')
        .p Google akhirnya benar-benar mewujudkan Mobil pintar alias smart car dengan cara memodifikasi mobil Toyota Pirus, Lexus SUV, dll.  Mobil tanpa sopir tersebut dibuat dengan menempatkan beberapa sensor, kamera, dan laser yang bisa berputar di bagian atasnya untuk mendeteksi kondisi sekitar.
         Google’s Self Driving Car disingkat SDC adalah proyek Google X yang melibatkan mobil otonom dan mobil listrik yang dilengkapi perangkat lunak berteknologi terkini dari Google.
         Driverless Car(Tanpa Sopir)  Mobil tanpa pengemudi yang tidak melibatkan setir dan alat mekanik lain seperti pedal gas, kopling maupun rem diperkenalkan Google sebagai salah satu visi yang ingin mereka capai. Mobil tersebut dioperasikan di dekat kantor Google di Mountain View. Mobil tersebut bisa dipanggil dengan menggunakan smartphone untuk menentukan lokasi penjemputan serta lokasi tujuan. 
         Semua kontrol manual dihilangkan dan hanya ada tombol start dan tombol berhenti secara darurat yang berwarna merah. Di depan penumpang disematkan sebuah layar kecil yang menunjukkan berbagai informasi seperti, kecepatan mobil, cuaca, dan lain-lain. Setelah anda sampai di tujuan, layar kecil tersebut akan menampilkan pesan yang akan mengingatkan penumpang untuk mengambil barang-barang pribadi serta berbagai pesan yang lainnya layaknya seorang sopir.

      section.layar
        h2 Cara Kerja Smart Car
        img.kn(src='images/C.jpg')
        h3.p Mobil ini menggunakan tenaga listrik yang bisa berjalan hingga 100 mil menggunakan berbagai kombinasi sensor dan software teknologi terbaru untuk mencari sendiri kondisi lingkungan di sekitarnya yang dikombinasikan dengan Google Maps dan GPS. Semua mobil dilengkapi dengan sistem navigasi satelit, radar, laser, dan camera360 derajat.
        
      section.layar
        h2 Tantangan Produksi
        .p Pada bulan juli 2015 tercatat setidaknya 23 mobil tanpa pengemudi milik Google terlibat dalam 14 kecelakaan lalu-lintas ringan di jalan umum. Google mengklaim bahwa semua kasus kecelakaan tersebut bukan diakibatkan oleh mobil Google, melainkan oleh pengendara mobil lain.
         Peraturan yang membolehkan driverless car untuk berjalan di tempat umum dikeluarkan oleh 4 negara bagian Amerika Serikat dan Washington DC. Nevada juga mengeluarkan peraturan pada tahun 2011 tepatnya pada tanggal 29 Juni. Peraturan tersebut berupa undang-undang mengenai pengoperasian mobil otonom. Dan peraturan tersebut berlaku secara resmi mulai tanggal 1 Maret 2012.
         Pada bulan tersebut, Nevada Departement Of Motor Vehicles secara resmi mengeluarkan lisensi pertama untuk mobil tanpa pengemudi yaitu untuk Toyota Pirus. Setelah Nevada, pemberian izin untuk kendaraan tanpa pengemudi juga berlaku di Florida, California, dan Michigan pada tahun 2013.
           
        .lg-3
      section.layar
        h3 Jenis Smart Car
        img.kn(src='images/D.jpg') 
        
        img.kn(src='images/E.jpg')

      .lg-3    
      section.layar
        h3 Keunggulan Dan Kerugian Smart Car
        .we Keunggulan Smart Car
        div.p 1. Smart car merupakan mobil termurah untuk mobil yang hanya memiliki 2 seat.
         div.p 2. Smart car juga mobil yang termurah bila anda ingin membeli mobil convertebel dan berkapasitas 2 orang.
        div.p 3.Smart car satu-satunyanya mobil city car yang memiliki kapasitas 2 orang, yang tidak dimiliki oleh merek lain.
        div.p 4.Smart car satu-satunya mobil dengan harga dibawah 300 juta memberikan pelayanan gratis biaya service,oli dan spare part selama 3 tahun tanpa batasan KM.
        div.p 5.Dengan harga di bawah 300 juta anda bisa merasakan sensai transmisi matic tape tronick,dimana pengguna smart meiliki 2 jenis trasmisi, yaitu manual otomatis dan matic.
        div.p 6.Smart car memiliki aura positif, dimana bila dijalan orang lain meilhat mobil smart mereka akan selalu tersenyum dan bilang mobil ini lucu.
        div.p 7.Dengan harga di bawah 300 juta anda seudah memiliki saound systeam yang cukup baik dimana dimobil ini di lengkapi dengan 2 speaker,2 tweater dan.p 8 subwoofer.
        div.p 9.Smart car merupakan produk dari mercy yang mengutamakan keselamatan dan kenyamanan untuk safetynya memiliki rangking euro and caps bintang 5.
        h4 Kerugian Smart Car
        .p Smart car merupakan penerapan tekhnologi baru yang minim kerugian. Kerugiannya hanya saja soal kewaspadaan pemakaian dalam membawa , menjalankan dan mengoperasikan mobil untuk sampai di  tempat tujuan, serta mengembalikan penumpang dengan selamat. Tidak hanya itu, tetapi juga biaya kendaraan seperti biaya perawatan, biaya kerusakan mesin (jika terjadi)

    script(src='build/build.js')
    script(src='build/jquery.js')
    script(src='build/bootstrap.min.js')