doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title SMART CAR

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css', href='build/bootstrap.min.css')

  body
  .container
    .row
      .navbar.navbar-inverse.navbar-fixed-top
        .container-fluid
          .navbar-header
            span.glyphicon.glyphicon-star.star 
            span.glyphicon.glyphicon-star.star
            span.glyphicon.glyphicon-star.star 

          .navbar-collapse.collapse
            ul.navbar-right.nav.navbar-nav
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown', href='#')
                  span.glyphicon.glyphicon-check.glyphiconY
                  |  File Presentasi
                ul.dropdown-menu(role='menu')
                  li
                    a(href='#3') Sejarah Smart Car 
                  li
                    a(href='#4') Cara Kerja Smart Car
                  li
                    a(href='#6') Jenis Smart Car
                  li
                    a(href='#8') Tantangan Produksi
                  li
                    a(href='#15') Keuntungan dan Kerugian

    article

      section.layar
        h1 SMART CAR
        h1 GOOGLE SELF DRIVING CAR 
        h1 Nama Kelompok
        li Agus Setiawan (151113373)
        li Bintang Antonius Sinurat (151113730)
        li Putra Irwanto Saragih (151112017)
        li Yessy Kaspia (151113624)
        img.avatar(src='images/B.jpg')

      .lg-3
      section.layar
        .h2 Sejarah Smart Car
        img.king(src='images/B.jpg')
        .p Google akhirnya benar-benar mewujudkan Mobil pintar alias smart car dengan cara memodifikasi mobil Toyota Pirus, Lexus SUV, dll.  Mobil tanpa sopir tersebut dibuat dengan menempatkan beberapa sensor, kamera, dan laser yang bisa berputar di bagian atasnya untuk mendeteksi kondisi sekitar.
        div Google’s Self Driving Car disingkat SDC adalah proyek Google X yang melibatkan mobil otonom dan mobil listrik yang dilengkapi perangkat lunak berteknologi terkini dari Google.
        div Driverless Car(Tanpa Sopir)  Mobil tanpa pengemudi yang tidak melibatkan setir dan alat mekanik lain seperti pedal gas, kopling maupun rem diperkenalkan Google sebagai salah satu visi yang ingin mereka capai. Mobil tersebut dioperasikan di dekat kantor Google di Mountain View. Mobil tersebut bisa dipanggil dengan menggunakan smartphone untuk menentukan lokasi penjemputan serta lokasi tujuan. 
        div Semua kontrol manual dihilangkan dan hanya ada tombol start dan tombol berhenti secara darurat yang berwarna merah. Di depan penumpang disematkan sebuah layar kecil yang menunjukkan berbagai informasi seperti, kecepatan mobil, cuaca, dan lain-lain. Setelah anda sampai di tujuan, layar kecil tersebut akan menampilkan pesan yang akan mengingatkan penumpang untuk mengambil barang-barang pribadi serta berbagai pesan yang lainnya layaknya seorang sopir.

        .lg-4
      section.layar
        h2 Cara Kerja Smart Car
        img.kn(src='images/C.jpg')
        h3 Mobil ini menggunakan tenaga listrik yang bisa berjalan hingga 100 mil menggunakan berbagai kombinasi sensor dan software teknologi terbaru untuk mencari sendiri kondisi lingkungan di sekitarnya yang dikombinasikan dengan Google Maps dan GPS. Semua mobil dilengkapi dengan sistem navigasi satelit, radar, laser, dan camera360 derajat.
        
        .lg-8
      section.layar
        h4 Jenis Smart Car
        img.kn(src='images/D.jpg') 
        
        img.kn(src='images/E.jpg')


    script(src='build/build.js')
    script(src='build/jquery.js')
    script(src='build/bootstrap.min.js')